body {
  font-family: Helvetica;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flat-list {
  width: 60%;
  float: left;
}

.map-container {
  width: 40%;
  float: right;
  height: 100vh;
}

.marker {
  height: 20px;
  width: 20px;
  background-color: red;
  border-radius: 50%;
}
